.container {
    display: block;
}

.body_container {
    display: flex;
    padding-left: 40px;
}

.header {
    text-align: center;
}

.header_title {
    padding: 40px 0px 20px 0px;
    font-weight: bolder;
    font-size: 30;
}

.header_note {
    color: rgba(0, 0, 0, 0.696);
}

.left_body_container,
.middle_body_container,
.right_body_container {
    display: block;
    padding: 40px 2px 0px 35px;
}

.left_body_photo,
.middle_body_photo,
.right_body_photo {
    height: 260px;
    width: 260px;
    object-fit: cover;
    padding: 20px 0px 15px 0px;
}

.left_body_title,
.middle_body_title,
.right_body_title {
    font-size: 20;
    font-weight: bold;
}

.left_body_note,
.middle_body_note,
.right_body_note {
    padding: 15px 0px 20px 0px;
    color: rgba(0, 0, 0, 0.696);
}

.right_body_content {
    width: 370px;
}

.left_body_content,
.middle_body_content,
.right_body_content {
    line-height: 25px;
    padding: 0px 20px 20px 0px;
    color: rgba(0, 0, 0, 0.696);
}

.left_body_read_more,
.middle_body_read_more,
.right_body_read_more {
    width: 100px;
    height: 35px;
}

.left_body_read_more:hover {
    background-color:greenyellow;
}

.middle_body_read_more:hover {
    background-color: red;
}

.right_body_read_more:hover {
    background-color:yellow;
}