.big_box {
    display: flex;
}

.left_part {
    display: block;
}

.right_part {
    display: flex;
}

.lower_part {
    display: flex;
}

.upper_part {
    display: flex;
}

.rgba_space {
    width: 300px;
    height: 150px;
    background-color: rgba(217, 21, 87, 0.979);
    margin: 10px;
}

.aqua_space {
    width: 500px;
    height: 150px;
    background-color: aqua;
    margin: 10px;
}

.limegreen_space {
    width: 150px;
    height: 150px;
    background-color: limegreen;
    margin: 10px;
}

.blue_space {
    width: 150px;
    height: 500px;
    background-color: blue;
    margin: 10px;
}

.dark_blue_space {
    width: 200px;
    height: 500px;
    background-color: darkblue;
    margin: 10px;
}

.light_blue_space {
    width: 50px;
    height: 500px;
    background-color: lightblue;
    margin: 10px;
}

.orange_space {
    width: 300px;
    height: 330px;
    background-color: orange;
    margin: 10px;
}

.sandybrown_space {
    width: 670px;
    height: 330px;
    background-color: sandybrown;
    margin: 10px;
}